*{  /* * = pegando tudo da pagina*/

    padding: 0;/*deixando tudo encostado*/

    margin: 0;/*deixando tudo encostado*/

    list-style: none;/*sem nenhum estilo nas listas*/

    font-family: Georgia, 'Times New Roman', Times, serif;/*colocando uma fonte familia para toda a pagina*/
}

header { /* header modificando o cabeçalho do site */

    display: flex;/*tornando flex e fazendo ficar lado a lado*/

    background-color: #5e9fa3;/*cor de fundo*/

    padding: 20px;/*alterando o tamanho da nossa header*/

    align-items: center;/*alinhado no centro   vertical*/

    justify-content: space-between;/*justificando o conteudo ao centro da tela  orizontal*/
}

header nav ul { /*chamamos nossa ul da header para modificar  */

    display: flex; /*tornando flex e fazendo ficar lado a lado*/
}

header ul li {/*chamamos nossa (li) da header para modificar*/

    margin-right: 10px;/*alterando o espaçamento entre as ancoras*/
}

header li a { /*chamamos nossa (a) que esta dentro do header para modificar*/

    text-decoration: none;/*removendo a linha de baixo das ancoras */

    color: white; /*colocamos uma cor nas ancoras*/
}

/*o hover permite que tenha alguma ação ao passar o mauze*/
header nav ul li a:hover{

    color: blue;/*cor da letra*/

    transition: 1s;/*o tempo que demora para a cor aparecer*/
}


header img { /*chamando a (img) para modificar*/

    width: 250px;/*modificando a largura em (250px)*/

    height: auto;/* deixando automatico a nossa altura*/
}

.sec01 {/*chamando a sec01 para stetizar*/

    display: flex;/*tornando flex e fazendo ficar lado a lado*/

    padding: 250px;/*alterando o tamanho da nossa sec01*/

    justify-content: center;/*justificando o conteudo ao centro da tela  orizontal*/

    background-image: url(imagem/escavadeira03.jpg);/*colocando uma img de fundo da tela*/

    background-repeat: no-repeat;/*fazendo a img não se repetir*/
    
    align-items: center;/*alinhado no centro   vertical*/

    background-size: cover;/*usei para a img cobrir toda a tela*/

    background-position: center;/*colocando a no centro*/
}

.sec01 button {/*chamando o (butão) que esta na sec01*/

    width: 150px;/*alterar o tamanho do (butão)*/  

    height: 40px;/*alterar a autura do botton */

    border-radius: 10px; /*deixar o botão mais redondo*/

    background-color: rgba(255, 255, 255, 0.527);/*cor de fundo*/ 

    border-color: rgb(150, 2, 248);/*cor das bordas*/
}

/*o hover permite que tenha alguma ação ao passar o mauze*/
.sec01 button:hover {

    background-color: rgba(250, 190, 190, 0.527);/*cor de fundo do bottão*/

    transition: 0.8s;/*faz com que demore o tanro que voce quiser*/

    color: white;/*cor da letra*/

    font-family: Verdana, Geneva, Tahoma, sans-serif;/*famila da letra mudando o visual*/

    cursor: pointer;/*mudando o cursor do mauze*/
   
}

.sec02 {/*chamando a sec02 para modificar*/

    display: flex; /*tornando flex e fazendo ficar lado a lado*/

    padding: 250px;/*alterando o tamanho da nossa sec02*/

    background-color: #dcd1b4;/*cor de fundo*/

    justify-content: space-evenly;/*justificando para lainhar o conteudo do sec02 */
}

.sec02 h2 {/*chamando (h2) dentro da sec02 para costomizar*/

    color: rgb(0, 0, 0);/*colocando cor*/

    font-size: 20px;/*alterando o tamanho da lentra*/

    margin: 15px;/*define a área da margem nos quatro lados do elemento*/
}

.sec02 p {/*chamando nosso (p) para modificar*/

    color: rgb(0, 0, 0);/*colocando uma cor*/

    font-size: 15px;/*alterando o tamanho da letra (p)*/

    margin: 15px;/*define a área da margem nos quatro lados do elemento*/
}

.sec02 img {/*chamando nosssa (img) dentro da sec02 para modificar*/

    width: 350px;/*alterar o tamanho da (img)*/

    height: 350px;/*alterar a autura da (img) */
}

/*o hover permite que tenha alguma ação ao passar o mauze*/
.sec02 img:hover {

    width: 370px;/*alterando a largura*/

    transition: 0.8s;/*tempo para aparecer as modificação*/

    cursor: pointer;/*mudando o cursor do mauze*/

}

.sec03 {/*chamando nossa (sec03) para modificar*/

    background-image: url(imagem/escavadeira04.jpg);/*colocando imagen de fundo*/

    padding: 350px;/*alterando o tamanho da nossa sec03*/

    background-repeat: no-repeat;/*fazendo a img não se repetir*/

    background-size: cover;/*tamanho do plano de fundo*/

    background-position: bottom;/*mexe na posição inicial da imagen*/

    background-attachment: fixed;/*fixar a imagen para não sair do lugar*/
}
.sec03 h2 {/*chamando nossa (h2) dentro da sec03 para modificar*/

    color: white;/*colocando cor no (h2)*/

    font-size: 15px;/*tamanho da fonte*/

    margin: 15px;/*define a área da margem nos quatro lados do elemento*/

    font-weight: 400px;/*tamanho da fonte palavra*/
}
.sec03 p {/*chamando nosso (p) dentro da sec03 para modificar*/

    color: rgb(255, 255, 255);/*colocando cor no (p)*/

    font-size: 15px;/*mexendo na tamanho da fonte*/

    margin: 15px;/*define a área da margem nos quatro lados do elemento*/

    font-weight: 400px;/*tamanho da fonte palavra*/
}

.footer01 {/*chamando nosso (footer01) para modificar*/

    display: flex; /*tornando flex e fazendo ficar lado a lado*/

    background-color: #f87e7b;/*cor de fundo*/

    padding: 15px;/*alterando o tamanho da nossa footer01*/

    justify-content: center;/*alinhando para o centro*/
}

.footer01 nav ul {/*chamando nossa (ul) dentro do footer01 para modificar*/

    display: flex;/*tornando flex e fazendo ficar lado a lado*/

}

.footer01 nav ul li {/*chamando nossa (li) dentro do footer01 para modificar*/

    margin-right: 10px;/*alterando o espaçamento entre as ancoras*/
}

.footer01 nav ul li a {/*chamando nossa (a) dentro do footer01 para modificar*/

    color: white;/*colocando cor na(a)*/
    
    text-decoration: none;/*removendo a linha de baixo das ancoras */
}

/*o hover permite que tenha alguma ação ao passar o mauze*/
.footer01 nav ul li a:hover {

    color: rgb(77, 74, 74);/*altera a cor*/

    transition: 1s;/*altera o tempo que aparece a cor*/
}

footer i {/*estetizando icone*/

    color: rgb(17, 6, 6);/*cores icone*/
    
    font-size: 40px;/*tamanho do fundo*/

    background-color: rgba(192, 192, 192, 0.295);/*cor de fundo do elemento*/

    padding: 15px;/*respiro/preenchimento da cor de fundo*/

    border-radius: 10px;/*arredondamento da caixa*/
}

footer i:hover {/*aplicando o efeito ao passar o mouse*/

    background-color: rgba(0, 0, 255, 0.342);/*cor de fundo alterada*/

    transition: 1s;/*transição do elemento*/
}

/*ESTILIZAÇÃO DA TELA 2*/


.section-tela2{
    background-image: url(imagem/escavadeira20.jpg);/*colocando imagem*/
    padding: 250px;/*preenchimento*/
    background-position: center;/*posicionando no centro a imagem*/
    background-repeat: no-repeat;/*para não se repetir*/
    background-size: cover;/*colocando a imagem para cobrir os espasos*/
}

.section-tela2 p {
    font-size: 40px;
    color: white;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.section-tela2 p span {
    color: yellow;
    font-weight: bold;
}

.section-nova {
    background-color: beige;
    padding: 250px;
}

.section-atual{
    background-color: aqua;
    padding: 250px;
}

.section-nova {
    padding: 250px;/*preenchimento de sessão*/
    background-color: darkkhaki;/*cor de fundo*/
}
.div-pai{/*div pai - dentro dele existe 3 div*/
    display: flex;/*tornando flex e deixando lado a lado*/
    justify-content: center;/*justificando os itens ao centro*/
    margin-right: 20px;/*espaçamento entre as caixas (div)*/
    margin-bottom: 20px;/*espaçamento entre a (div pai) e a (div pai2)*/
}
.div-pai div {/*estetizando das caixas (div filhos)*/
    width: 150px;/*largura da caixa*/
    height: 250px;/*altura da caixa*/
    background-color: red;/*cor de fundo*/
    margin-right: 20px;/*espaçamento entre as caixas (div)*/
    border-radius: 15px;/*arredondando a borda*/
}
.div-pai2 {/*estelizando a div pai2 - */
    display: flex;/*tornando flex e deixando lado a lado*/
    justify-content: center;/*justificando os itens ao centro*/
    margin-right: 20px;/*espaçamento entre as caixas (div)*/
}

.div-pai2 div {/**/
    width: 150px;/*largura da caixa*/
    height: 250px;/*altura da caixa*/
    background-color: red;/*cor de fundo*/
    margin-right: 20px;/*espaçamento entre as caixas (div)*/
    border-radius: 15px;/*arredondando a borda*/
}

/*google fonts Oswald*/